/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

/*  css variables */
:root {
  --card-bg-01: #fdefe6;
  --card-bg-02: #d6e5fb;
  --card-bg-03: #ceebe9;
  --card-bg-04: #e2f2b2;
  --primary-color: #0a1d37;
  --hero-bg: #d6e5fb;
  --heading-fontSize: 2rem;
  --small-text-color: #999;
  --heading-text-color: #0a1d37;
}

/* reset browser default */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

p {
  color: var(--small-text-color);
  font-size: 1rem;
}

h1,
h2 {
  font-size: var(--heading-fontSize);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}
img {
  width: 100%;
}
section {
  padding: 60px 0px;
}

/* header styles */

header {
  width: 100%;
  height: 70px;
  line-height: 70px;
}
.sticyHeader {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 3px 3px 8px -3px #ddd;
  background-color: #fff;
}
.navWraaper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;

  column-gap: 8px;
}

nav img,
footer img {
  width: 1.5rem;
  height: 1.5rem;
}
h1 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--primary-color);
}
.menu {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
  font-weight: 500;
  margin-bottom: 0;
}
.navItem {
  color: var(--primary-color);
  font-weight: 500;
  cursor: pointer;
}
.navIcon {
  display: flex;
  align-items: center;
  column-gap: 1.2rem;
}
.navIcon span i {
  font-size: 1.4rem;
  color: var(--primary-color);
  cursor: pointer;
}
.navIcon img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.mobilMenu {
  font-size: 1.3rem;
  color: var(--primary-color);
  display: none;
}
.navActive {
  font-weight: bold;
  background-color: aqua !important;
}
.menu .active {
  font-weight: bold;
}
.cartIcon,
.favIcon {
  position: relative;
}
.badge {
  position: absolute;
  top: 25%;
  right: -8%;
  width: 15px;
  height: 15px;
  content: "";
  background-color: var(--primary-color);
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 600;
  z-index: 10;
}

/* home styles */
.heroSection {
  background-color: var(--hero-bg);
}
.heroSection h2 {
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 600;
  margin: 20px 0px;
}
.heroSection p {
  color: var(--primary-color);
  line-height: 28px;
}
.buyBtn {
  border: none;
  outline: none;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 40px;
}
.heroSection p:nth-child(1) {
  font-weight: 500;
}
.buyBtn a:hover {
  color: white;
}
.heroContent {
  padding-top: 45px;
}

/* services */
.servicesItem {
  padding: 20px;

  display: flex;
  align-items: center;
  column-gap: 0.7rem;
  border-radius: 5px;
  cursor: pointer;
}
.servicesItem span i {
  font-size: 2.2rem;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 50px;
  color: white;
  font-weight: 400;
}
.servicesItem h3 {
  color: var(--primary-color);
  font-size: 1.1rem;
  font-weight: 600;
}
.servicesItem p {
  font-size: 0.9rem;
  margin-top: 5px;
  color: #222;
}
/* trending Products */

.sectionTitle {
  color: var(--primary-color);
  font-weight: 600;
}
/* prodacts card */
.productItem {
  cursor: pointer;
}
.productInfo h3 a {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: 600;
  margin-top: 15px;
}
.productInfo span {
  font-size: 0.9rem;
}
.productCardBottom .price {
  color: var(--primary-color);
  font-size: 1.3rem;
  font-weight: 500;
}
.productCardBottom span i {
  font-size: 1.2rem;
  padding: 5px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 50px;
}
.productInfo a:hover {
  color: inherit;
}
/* timerCounter */
.timerCounter {
  background-color: var(--primary-color);
  height: 300px;
}

.timerCounter img {
  width: 70% !important;
  height: 70% !important;
  object-fit: contain;
}
.storeBtn {
  background-color: #fff;
  color: var(--primary-color);
  font-weight: 600;
}
.storeBtn a:hover {
  color: var(--primary-color);
}
/* footer */
.footer {
  padding-top: 60px;

  background-color: var(--primary-color);
}
.footerText {
  line-height: 30px;
}
.footer ul li a:hover {
  color: #fff;
}
.footer .footerLinksTitle {
  margin: 0.75rem 0rem 0.75rem 0rem !important;
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .heroContent h2 {
    font-size: 2rem;
  }
  .productInfo h3 a {
    font-size: 1.1rem;
  }
  .counterImg {
    display: none;
  }

  .clockTopContent {
    text-align: center;
  }
  .colorWrapper {
    justify-content: center;
  }
  .clockcontainer {
    text-align: center;
  }
  .clockData h4 {
    font-size: 1.1rem !important;
  }
  .clockData h5 {
    font-size: 0.9rem !important;
  }
}
/* commonSection */
.commonSection {
  background: linear-gradient(rgba(0, 0, 0, 0.547), rgba(0, 0, 0, 0.547)),
    url("./assets/images//common.jpg") no-repeat center center;
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0px;
}
.filterWidget select {
  padding: 8px 20px;
  border: 1px solid var(--primary-color);
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: #fff;
}
.filterWidget select:focus {
  outline: none !important;
}
.filterWidget select option {
  font-size: 0.9rem;
}
.searchBox {
  width: 100%;
  display: flex;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  align-items: center;
  padding-right: 12px;
  padding-left: 2px;
  cursor: pointer;
  justify-content: space-between;
}
.searchBox input {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 10px;
}
.searchBox span {
  color: var(--primary-color);
}

.commonSection h5 {
  color: #fff;
  font-weight: 600;
}

/* Products Details */
.prodauctDetailes {
  margin-top: 70px;
}
.prodauctDetailes h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.prodactRating span i {
  color: coral;
}
.prodactRating p span {
  color: coral;
  font-weight: 500;
}
.productPrice {
  font-size: 1.3rem;
  font-weight: 500;
}
.activeTab {
  font-weight: 600;
}
.tabWraaper {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 1rem;
}
/* *************** */
@media only screen and (max-width: 768px) and (min-width: 576px) {
  .heroContent h2 {
    font-size: 1.6rem;
  }
  .heroContent {
    padding-top: 0;
    margin-bottom: 40px;
  }
  .counterImg {
    display: none;
  }
  .heroC .clockTopContent {
    text-align: center;
  }
  .colorWrapper {
    justify-content: center;
  }
  .clockcontainer {
    text-align: center;
  }
  .clockData h4 {
    font-size: 1.1rem !important;
  }
  .clockData h5 {
    font-size: 0.9rem !important;
  }
  ontent p {
    font-size: 0.9rem;
  }
  .buyBtn a {
    font-size: 0.9rem;
  }
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.53);
    z-index: 9999;
    display: none;
  }
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    z-index: 999999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .activeMenu {
    display: block;
  }
  .mobilMenu {
    display: block;
  }
  .mobilMenu span {
    font-size: 1.1rem !important;
  }
  .logo h1 {
    font-size: 1rem;
  }
  .logo img {
    width: 1rem;
    height: 1rem;
  }
  .favIcon i,
  .cartIcon i {
    font-size: 1.2rem !important;
  }
  .navIcon span img {
    width: 1.4rem;
    height: 1.4rem;
  }
  header {
    width: 100%;
    height: 100%;
    line-height: 60px;
  }
}
@media only screen and (max-width: 576px) {
  .heroContent {
    padding-top: 0;
    margin-bottom: 40px;
  }
  .mobilMenu {
    display: block;
  }
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.53);
    z-index: 9999;
    display: none;
  }
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #fff;
    z-index: 999999;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .activeMenu {
    display: block;
  }
  .counterImg {
    display: none;
  }
  .heroC .clockTopContent {
    text-align: center;
  }
  .colorWrapper {
    justify-content: center;
  }
  .clockcontainer {
    text-align: center;
  }
}
